.companies-wrapper {
}
.companies-container {
  justify-content: space-around;
  gap: 1rem;
}
.companies-container > img {
  width: 9rem;
}

@media (max-width: 768px) {
  .companies-container {
    display: flex;
    flex-direction: column;
  }
}
